mediapipe # requires opencv-python and numpy anyway
pydirectinput
xkkztveejtveyjzqvehjevqljkzevfhjtveyjevtpjqvgrljkzevrtjtveyjzrvufjqvfpljkzevpujtveyjzeveyjqvyeljkzevfjtveyjzrvgjqvtpljkzrvrjtveyjzqvqtjqvqljkzrvhjtveyjze